@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Document</title>
</head>
<div id="data" runat="server">
    
   
</div>
<a href="Empleados">Ir a Empleados</a>
 <button onclick="getDatos();">Get JSON</button>
<div id="data1">

</div>
<div id="data2" runat="server">
    
</div>
<div id="data3" runat="server">
    
</div>

<script>
    function getDatos(){        
        var xmlhttp = new XMLHttpRequest();        

        xmlhttp.onreadystatechange = function(){
            if(this.readyState == 4 && this.status == 200)   
            {   
                    document.getElementById("data").innerHTML = this.responseText;
            }
        };


        xmlhttp.open("GET", "https://api.exchangeratesapi.io/latest", true);
        xmlhttp.send();
       

        
    }
</script>