@page
@model MyApp.Namespace.index
@{
}
<head>

</head>
<body>
    <div class="main">
        <div class="head">
            <h1>Página principal</h1>
        </div>

        <div class="formulario">
            <form>
                <label>Nombre</label>
                <input type="text">
                <input type="button" onclick="buscar();" value="Buscar">
                <br/>

                <label>Marca</label>
                <label id="lblMarca"></label><br/>
                
                <label>Forma</label>
                <label id="lblForma"></label><br/>

                <label>Pastillas</label>
                <label id="lblPastillas"></label><br/>                
            </form>
        </div>
    </div>

    <script type="text/javascript">

        function buscar(){
            //alert("pepito");
        var xmlhttp = new XMLHttpRequest();        
        var datos, datos2;
        
        
        xmlhttp.onreadystatechange = function(){
            
            if (this.readyState == 4 && this.status == 200)   
            {
                
                datos = this.responseText;
                datos2 = JSON.parse(datos);
                console.log(datos2);                
            }
        }
        xmlhttp.open("GET", "datos/datos.json", true);
        xmlhttp.send();
        
        
        }
    </script>
</body>