@page
@model MyApp.Namespace.index
@{
}
<head>

</head>
<body>
    <div class="main">
        <div class="head">
            <h1>Página principal</h1>
        </div>

        <div class="formulario">
            <form>
                <label>Nombre</label>
                <input type="text"><br/>

                <label>Marca</label>
                <label id="lblMarca"></label><br/>
                
                <label>Forma</label>
                <label id="lblForma"></label><br/>
            </form>
        </div>
    </div>
</body>