@page
@model MyApp.Namespace.ProyectoAccesoRestDBModel
@{
}
<head>

</head>
<body>
    <div class="main">
        <div class="head">
            <h1>Página principal</h1>
        </div>

        <div class="formulario">
            <form>
                <label>Nombre</label>
                <input type="text">
            </form>
        </div>
    </div>
</body>